<section class="container" ng-controller="first" >
  <form>
    <div class="row">
      <div class="col s4 offset-s2">
        <input placeholder="Search by day" type="text" ng-model="dayFilter">
      </div>
      <div class="col s4">
        <input placeholder="Search by name" type="text" ng-model="spFilter">
      </div>
    </div>
  </form>


  <div class="card cardElement" ng-repeat="trackerdb in trackerdbs | filter: {day: dayFilter, sp: spFilter}">
    <div class="card-image">
      <img src="{{band.image}}">
      <span class="card-title">{{trackerdb.sp | uppercase}}</span>
    </div>
    <div class="card-content">
      <p><strong>Day:</strong> {{trackerdb.day}}</p>
      <p><strong>Hour:</strong> {{trackerdb.hour}}</p>
      <p><strong>Lead:</strong> {{trackerdb.lead}} 
         <strong>Calls:</strong> {{trackerdb.call}}</p>
    </div>
    <div class="card-action">
      <a href="#info/{{band.name}}">Some one more</a>
    </div>
  </div>
        
</section> 


      